.feed-tools {
    text-align: center;
    margin-bottom: 10px;
}

.sort-nearby {
    background: none;
    border: none;
    cursor: pointer;
    color: #0078d7;
}

.container {
    margin-left: auto;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
}

.search-container {
    position: relative;
    width: 100%;
    margin: auto;
}

.search-input {
    padding: 10px;
    width: calc(100% - 10px);
    border: 1px #ccc;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    background-color: lightgrey;
}

.search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    margin-left: 5px;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.search-dropdown-item {
    padding: 15px 10px;
    cursor: pointer;
    display: block;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
}

.search-dropdown-item:hover {
    background-color: #e9f3ff;
}

.search-dropdown-item span {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;
}

.posts-grid {
    display: flex;
    background-color: rgb(238, 234, 234);
    margin-left: 12.5%;
    justify-content: center;
    flex-wrap: wrap;
}

.post-col-left {
    float: left;
    margin-left: 7%;
    margin-right: 3%;
    margin-top: 4%;
}

.post-col-right {
    float: right;
    margin-right: 7%;
    margin-left: 3%;
    margin-top: 4%;
}

.post {
    background-color: white;
    height: fit-content;
    margin-bottom: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.post-header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.post-author {
    margin-top: 1.5em;
    flex-basis: 40%;
    font-weight: bold;
}

.post-author-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-body {
    padding: 15px;
}

.post-date {
    font-size: 70%;
    float: left;
    width: 100%;
}

.post-content {
    height: 200%;
    word-break: break-all;
    flex-basis: 100%;
    margin: 1em;
    margin-bottom: 1em;
}

.post-image {
    object-fit: contain;
    width: 50%;
    height: auto;
    display: block;
    margin-left: 1em;
    margin-right: auto;
    max-width: 100%;
}

.images {
    max-width: 100%;
    padding-left: 2em;
}

.post-location {
    width: 100%;
    padding-top: 1em;
    margin-bottom: 1.5em;
    text-align: center;
}

.post-footer {
    padding: 10px;
    border-top: 1px solid #eee;
}

@media (max-width: 768px) {
    .posts-grid {
        flex-direction: column;
    }

    .post-col-left,
    .post-col-right {
        flex-basis: 100%;
    }

    .search-input {
        width: calc(100% - 40px);
    }
}

.sort {
    margin-left: 50px; 
}
