:root {
    --main-green: #00853e;
    --hover-green: #024622;
    --text-gray: #333333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--text-gray);
    background-color: var(--hover-green);
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
}

.header-center,
.header-right,
.search-item {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pure-menu-link,
.login-button,
.site-logo,
.template-footer {
    color: white;
}

.pure-menu-item {
    display: inline;
    margin: 0 5px;
}

.site-logo {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    transition: background-color 0.3s, transform 0.2s;
    text-decoration: none;
    display: inline-block;
}

.site-logo:hover {
    transform: scale(1.05);
}

.login-button {
    background: var(--main-green);
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-menu-link:hover,
.pure-menu-link:focus,
.login-button:hover {
    background-color: var(--hover-green);
    color: #ffffff;
}

.content {
    padding-top: 50px;
}

.template-footer {
    background-color: var(--hover-green);
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}