.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
    background-color: #f2f2f2;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.header-center,
.header-right,
.search-item {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pure-menu-link {
    text-decoration: none;
    color: #333;
}

.pure-menu-link:hover,
.pure-menu-link:focus {
    background-color: #e6e6e6;
}

.site-logo {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    transition: background-color 0.3s, transform 0.2s;
    text-decoration: none;
    display: inline-block;
}

.site-logo:hover {
    transform: scale(1.05);
}

.login-button {
    color: white;
    background: rgb(66, 184, 221);
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .header-center,
    .header-right {
        text-align: center;
        margin-top: 0.5em;
    }

    .pure-menu-list {
        display: flex;
        flex-direction: column;
    }
}

.content {
    padding-top: 50px;
}

.template-footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 5px 0;
}