.user-info {
    justify-content: center;
}

.post {
    background-color: white;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    border: solid black;
}

.post-author {
    margin-top: 1.5em;
    flex-basis: 40%;
    font-weight: bold;
}

.post-date {
    font-size: 70%;
    float: left;
    width: 100%;
    border-bottom: solid thin black;
}

.post-content {
    height: 200%;
    word-break: break-all;
    flex-basis: 100%;
    margin: 2em;
    margin-bottom: 1em;
}

.post-image {
    object-fit: contain;
    max-width: 100%;
    height: auto;
}

.images {
    padding-left: 1em;
    max-width: 70%;
    height: auto;
}

.post-location {
    border-top: solid thin black;
    width: 100%;
    padding-top: 1em;
    margin-bottom: 1.5em;
    word-break: break-all;
}