body {
    background-color: #f6f6f6;
}
.user-info {
    justify-content: center;
}

.post {
    background-color: white;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    border: solid black;
    margin-bottom: 50px;
}

.post-author {
    margin-top: 1.5em;
    flex-basis: 40%;
    font-weight: bold;
}

.post-date {
    font-size: 70%;
    float: left;
    width: 100%;
    border-bottom: solid thin black;
}

.post-content {
    height: 100%;
    word-break: break-all;
    flex-basis: 100%;
    margin: 2em;
    margin-bottom: 1em;
}

.post-image {
    object-fit: contain;
    max-width: 80%;
    height: auto;
}

.images {
    padding-left: 1em;
    max-width: 70%;
    height: auto;
}

.post-location {
    border-top: solid thin black;
    width: 100%;
    padding-top: 1em;
    margin-bottom: 1.5em;
    word-break: break-all;
}

.user-container {
    background-color: white;
    border: 2px solid #ccc; 
    padding: 40px;
    margin-bottom: 30px;
}

.user-details {
    margin-left: 15px; 
    margin-bottom: 15px; 
    font-size: 10px;
}

.delete-button {
    background-color: #f2f2f2;
    color: #000000; 
    font-size: 14px; 
}

.edit-button {
    background-color: #f2f2f2;
    color: #000000; 
    font-size: 14px; 
    margin-left: 55px;
}

.more-button{
    background-color: #f2f2f2;
    color: #000000; 
    font-size: 14px; 
    padding: 6px 10px;
    margin-left: 145px;

}