body {
    background-color: #eeede7;
}
.user-info {
    justify-content: center;
}

.post {
    background-color: white;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    border: solid rgb(236, 236, 236);
    border-radius: 10px;
    margin-bottom: 50px;
    margin-left: 120px;
     
}


.post-author {
    margin-top: 1.5em;
    flex-basis: 40%;
    font-weight: bold;
}

.post-date {
    font-size: 70%;
    float: left;
    width: 100%;
    border-bottom: solid thin black;
}

.post-content {
    height: 100%;
    word-break: break-all;
    flex-basis: 100%;
    margin: 2em;
    margin-bottom: 1em;
}

.post-image {
    object-fit: contain;
    max-width: 80%;
    height: auto;
}

.images {
    padding-left: 1em;
    max-width: 70%;
    height: auto;
}

.post-location {
    border-top: solid thin black;
    width: 100%;
    padding-top: 1em;
    margin-bottom: 1.5em;
    word-break: break-all;
}



.user-container {
    background-color: white;
    border: 2px solid #ccc; 
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 15px;
    width: 80%;
    transform: translate(8%, 10%);
}

.user-details {
    margin-left: 15px;
    font-size: 10px;

}

.user-name {
    margin-left: 12px;
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 0;
}


.delete-button {
    color: #ffffff; 
    font-size: 14px; 
    margin-right: 40px;
}

.edit-button {
    color: #ffffff; 
    font-size: 14px; 
    margin-left: 50px;
}

.more-button{
    background-color: #388c5f;
    color: #ffffff; 
    font-size: 14px; 
    padding: 6px 11px;
    margin-left: 140px;
    margin-top: 10px;
    border-radius: 5px;
}

