<!doctype html>

<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" 
      integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    {% endblock %}
  </head>
  <body>
      <div id="menu-header" class="pure-menu pure-menu-horizontal">
        <a href="/" class="pure-menu-heading pure-menu-link">Our Website</a>
      </div>
      {% block content %}
      {% endblock %}
  </body>
</html>