{% extends "header_template.html" %}
{% block head %}
  {{ super() }}
  <title>Website Home</title>
  <link rel="stylesheet" href="/static/feed.css">
{% endblock %}
{% block header %}
  {{  super() }}
  <a href="/login" class="login-button pure-menu-link pure-button">Login</a>
{% endblock %}
{% block content %}
  <div id="layout" class="pure-g">
    <div class="posts-grid pure-u-3-4">  
        <div class="post-col-left pure-u-2-5">
            {% for i in range(posts| length) %}
                {% if i%2 == 0 %}
                    <div class="post" id="{{ posts[i].id }}">
                        <div class="post-author">{{ posts[i]['user_id'] }}</div>
                        <div class="post-date">{{ posts[i]['time'] }}</div>
                        <div class="post-content">{{ posts[i]['content'] }}</div>
                        <div class="post-image"><img class="images" src="data:image;base64,{{ posts[i]['img'] }}"></div>
                        <div class="post-location">{{ posts[i]['geog'] }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="post-col-right pure-u-2-5">
            {% for i in range(posts| length) %}
                {% if i%2 != 0 %}
                    <div class="post" id="{{ posts[i]['id'] }}">
                        <div class="post-author">{{ posts[i]['user_id'] }}</div>
                        <div class="post-date">{{ posts[i]['time'] }}</div>
                        <div class="post-content">{{ posts[i]['content'] }}</div>
                        <div class="post-image"><img class="images" src="data:image;base64,{{ posts[i]['img'] }}"></div>
                        <div class="post-location">{{ posts[i]['geog'] }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>
  </div>
{% endblock %}

