{% extends "header_template.html" %}
{% block head %}
  {{ super() }}
  <title>Website Home</title>
  <link rel="stylesheet" href="/static/feed.css">
{% endblock %}
{% block content %}
<style>
  .username {
      position: fixed;
      top: 90px;
      left: 330px;
      font-size: 20px;
  }
  .following {
      position: fixed;
      top: 90px;
      left: 650px;
      font-size: 20px;
      color: #000000;
      text-decoration: none; 
  }
  .followers {
      position: fixed;
      top: 90px;
      left: 810px;
      font-size: 20px;
      color: #000000;
      text-decoration: none; 
  }
  .profile {
      line-height: 70px; 
      text-decoration: none; 
      width: 70px; 
      height: 70px; 
      border-radius: 50%; 
      background-color: #acacac;
      color: #fff;
      text-align: center;
      font-size: 14px;
      display: inline-block;
      position: fixed;
      top: 70px;
      left: 240px;
  }
</style>
</head>
<body>
<div class="username">username</div>
<a href="/profile" class="profile">Profile</a>
<a href="/following" class="following">following</a>
<a href="/followers" class="followers">followers</a>

</body>
{% endblock %}